.table th:hover {



    background-color: rgba(212, 14, 18, 0.208);



}
.table th {
background-color: rgb(19, 102, 84);
}
.table td {
background-color:rgb(99, 74, 128) ;
}
.table td:hover {



    background-color:rgb(153, 67, 67);



}
.scope td {



    background-color:rgb(131, 172, 81);



}